:root {
  --colorPrincipal: rgba(0, 16, 117);
  --colorFondoPrincipal: #e5eeff48;
  --colorFondoSecundario: rgba(0, 16, 117, 0.508);
  --colorTextoPrincipal: #000;
  --colorTextoSecundario: #fff;
  --textoGrande: 52px;
  --textoMediano: 32px;
  --textoPequeno: 19px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: var(--colorTextoPrincipoal);
  text-decoration: none;
}